@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 80px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

.scores-container {
  float: right;
  text-align: right; }

.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 640px;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background: #bbada0;
  border-radius: 6px;
  width: 640px;
  height: 640px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  
 .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

.game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 15px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 110px;
  height: 110px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 110px;
  height: 110px;
  line-height: 116.25px; }
  
.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 125px);
  -moz-transform: translate(0px, 125px);
  transform: translate(0px, 125px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 250px);
  -moz-transform: translate(0px, 250px);
  transform: translate(0px, 250px); }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 375px);
  -moz-transform: translate(0px, 375px);
  transform: translate(0px, 375px); }
.tile.tile-position-1-5 {
  -webkit-transform: translate(0px, 500px);
  -moz-transform: translate(0px, 500px);
  transform: translate(0px, 500px); }
  
.tile.tile-position-2-1 {
  -webkit-transform: translate(125px, 0px);
  -moz-transform: translate(125px, 0px);
  transform: translate(125px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(125px, 125px);
  -moz-transform: translate(125px, 125px);
  transform: translate(125px, 125px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(125px, 250px);
  -moz-transform: translate(125px, 250px);
  transform: translate(125px, 250px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(125px, 375px);
  -moz-transform: translate(125px, 375px);
  transform: translate(125px, 375px); }
.tile.tile-position-2-5 {
  -webkit-transform: translate(125px, 500px);
  -moz-transform: translate(125px, 500px);
  transform: translate(125px, 500px); }
  
.tile.tile-position-3-1 {
  -webkit-transform: translate(250px, 0px);
  -moz-transform: translate(250px, 0px);
  transform: translate(250px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(250px, 125px);
  -moz-transform: translate(250px, 125px);
  transform: translate(250px, 125px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(250px, 250px);
  -moz-transform: translate(250px, 250px);
  transform: translate(250px, 250px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(250px, 375px);
  -moz-transform: translate(250px, 375px);
  transform: translate(250px, 375px); }
.tile.tile-position-3-5 {
  -webkit-transform: translate(250px, 500px);
  -moz-transform: translate(250px, 500x);
  transform: translate(250px, 500px); }
  
.tile.tile-position-4-1 {
  -webkit-transform: translate(375px, 0px);
  -moz-transform: translate(375px, 0px);
  transform: translate(375px, 0px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(375px, 125px);
  -moz-transform: translate(375px, 125px);
  transform: translate(375px, 125px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(375px, 250px);
  -moz-transform: translate(375px, 250px);
  transform: translate(375px, 250px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(375px, 375px);
  -moz-transform: translate(375px, 375px);
  transform: translate(375px, 375px); }
.tile.tile-position-4-5 {
  -webkit-transform: translate(375px, 500px);
  -moz-transform: translate(375px, 500px);
  transform: translate(375px, 500px); }
 
.tile.tile-position-5-1 {
  -webkit-transform: translate(500px, 0px);
  -moz-transform: translate(500px, 0px);
  transform: translate(500px, 0px); }
.tile.tile-position-5-2 {
  -webkit-transform: translate(500px, 125px);
  -moz-transform: translate(500px, 125px);
  transform: translate(500px, 125px); }
.tile.tile-position-5-3 {
  -webkit-transform: translate(500px, 250px);
  -moz-transform: translate(500px, 250px);
  transform: translate(500px, 250px); }
.tile.tile-position-5-4 {
  -webkit-transform: translate(500px, 375px);
  -moz-transform: translate(500px, 375px);
  transform: translate(500px, 375px); }
.tile.tile-position-5-5 {
  -webkit-transform: translate(500px, 500px);
  -moz-transform: translate(500px, 500px);
  transform: translate(500px, 500px); }

  
.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile.tile-1 .tile-inner {
	color: #776e65;
    background: #ffffff;}
  .tile.tile-2 .tile-inner {
	color: #776e65;
    background: #eee4da;}
  .tile.tile-4 .tile-inner {
  color: #776e65;
    background: #ede0c8;}
  .tile.tile-5 .tile-inner {
  color: #ffffff;
    background: #2b6be5; }
  .tile.tile-8 .tile-inner {
  color: #f9f6f2;
    background: #f2b179; }
  .tile.tile-10 .tile-inner {
  color: #000000;
    background: #08c20e;}
  .tile.tile-15 .tile-inner {
  color: #ffffff;
    background: #070a69; }
  .tile.tile-16 .tile-inner {
  color: #f9f6f2;
    background: #f59563; }
  .tile.tile-20 .tile-inner {
  color: #ffffff;
    background: #5e352a; }
  .tile.tile-23 .tile-inner {
    background: #c673bd; }
  .tile.tile-30 .tile-inner {
  color: #ffffff;
    background: #0f7908; }
  .tile.tile-32 .tile-inner {
  color: #f9f6f2;
    background: #f67c5f; }
  .tile.tile-35 .tile-inner {
  color: #ffffff;
    background: #a3df19; }
  .tile.tile-40 .tile-inner {
  color: #ffffff;
    background: #A6536F; }
  .tile.tile-45 .tile-inner {
  color: #ffffff;
    background: #3D1A15; }
  .tile.tile-46 .tile-inner {
  color: #ffffff;
    background: #8A717E; }
  .tile.tile-50 .tile-inner {
  color: #000000;
    background: #EEEEEE; }
  .tile.tile-55 .tile-inner {
  color: #ffffff;
    background: #CFB7A3; }
  .tile.tile-60 .tile-inner {
  color: #000000;
    background: #F3F1CE; }
  .tile.tile-64 .tile-inner {
  color: #ffffff;
    background: #f65e3b; }
  .tile.tile-69 .tile-inner {
  color: #ffffff;
    background: #B5C19C; }
  .tile.tile-70 .tile-inner {
  color: #ffffff;
    background: #5A1380; }
  .tile.tile-75 .tile-inner {
  color: #ffffff;
    background: #09927D; }
  .tile.tile-80 .tile-inner {
  color: #ffffff;
    background: #50314F; }
  .tile.tile-85 .tile-inner {
  color: #ffffff;
    background: #E004DD; }
  .tile.tile-90 .tile-inner {
  color: #ffffff;
    background: #A2DE03; }
  .tile.tile-92 .tile-inner {
  color: #ffffff;
    background: #3CA28B; }
  .tile.tile-95 .tile-inner {
  color: #ffffff;
    background: #860360; }
  .tile.tile-100 .tile-inner {
  color: #ffffff;
    background: #8FBC92; }
  .tile.tile-105 .tile-inner {
  color: #ffffff;
    background: #8FB7BC; }
  .tile.tile-110 .tile-inner {
  color: #ffffff;
    background: #75D1FF; }
  .tile.tile-115 .tile-inner {
  color: #ffffff;
    background: #470E8B; }
  .tile.tile-120 .tile-inner {
  color: #ffffff;
    background: #764315; }
  .tile.tile-125 .tile-inner {
  color: #ffffff;
    background: #306689; }
  .tile.tile-128 .tile-inner {
  color: #f9f6f2;
    background: #Edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); 
    Font-Size: 45px; }
  .tile.tile-130 .tile-inner {
  color: #ffffff;
    background: #9FB975; }
  .tile.tile-135 .tile-inner {
  color: #ffffff;
    background: #68678E; }
  .tile.tile-138 .tile-inner {
  color: #ffffff;
    background: #C25656; }
  .tile.tile-140 .tile-inner {
  color: #ffffff;
    background: #F08333; }

  .tile.tile-145 .tile-inner {
    background: #555750; }
	
  .tile.tile-150 .tile-inner {
    background: #f5e265; }

  .tile.tile-155 .tile-inner {
    background: #15D35D; }

  .tile.tile-160 .tile-inner {
    background: #907829; }

  .tile.tile-161 .tile-inner {
    background: #F1DBDB; }

  .tile.tile-165 .tile-inner {
    background: #9EB8E8; }

  .tile.tile-170 .tile-inner {
    background: #A1B094; }

  .tile.tile-175 .tile-inner {
    background: #c7f1ff; }
  
  .tile.tile-180 .tile-inner {
    background: #EBDCEE; }

  .tile.tile-184 .tile-inner {
    color: #000000;
    background: #edc22e; }

  .tile.tile-185 .tile-inner {
    background: #76FADE; }

  .tile.tile-190 .tile-inner {
    background: #540ffd; }

  .tile.tile-195 .tile-inner {
    background: #faded1; }

  .tile.tile-200 .tile-inner {
    background: #bed200; }

  .tile.tile-205 .tile-inner {
    background: #bed205; }

  .tile.tile-207 .tile-inner {
    background: #fdacbe; }

  .tile.tile-210 .tile-inner {
    background: #bed210; }

  .tile.tile-215 .tile-inner {
    background: #bed215; }

  .tile.tile-220 .tile-inner {
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0 0 30px 10px #FFFFFF, inset 0 0 0 1px #000000;
    Font-Size: 45px; }

  .tile.tile-225 .tile-inner {
    background: #bed225; }

  .tile.tile-230 .tile-inner {
    background: #dda8c5; }

  .tile.tile-235 .tile-inner {
    background: #bed235; }

  .tile.tile-240 .tile-inner {
    background: #bed240; }

  .tile.tile-245 .tile-inner {
    background: #bed245; }

  .tile.tile-250 .tile-inner {
    background: #bed250; }

  .tile.tile-255 .tile-inner {
    background: #bed255; }

  .tile.tile-256 .tile-inner {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }

  .tile.tile-253 .tile-inner {
    background: #f75025;
    box-shadow: 0 0 30px 10px rgba(135, 50, 25, 0.2831), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }

  .tile.tile-260 .tile-inner {
    background: #bed260; }

  .tile.tile-265 .tile-inner {
    background: #bed265; 
    font-size: 45px }

.tile.tile-270 .tile-inner {
    background: #bed270; 
    font-size: 45px }

.tile.tile-275 .tile-inner {
    background: #bed275; 
    font-size: 45px }

.tile.tile-280 .tile-inner {
    background: #bed280; 
    font-size: 45px }

.tile.tile-276 .tile-inner {
    background: #dacdac;
    box-shadow: 0 0 30px 10px rgba(255, 76, 230, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048); 
    font-size: 45px }

.tile.tile-285 .tile-inner {
    background: #bed285; 
    font-size: 45px }

.tile.tile-290 .tile-inner {
    background: #bed290; 
    font-size: 45px }

.tile.tile-295 .tile-inner {
    background: #bed295; 
    font-size: 45px }

.tile.tile-299 .tile-inner {
    background: #672fb9;
    box-shadow: 0 0 30px 10px rgba(67, 148, 79, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);  
    font-size: 45px }

.tile.tile-300 .tile-inner {
    background: #bed300; 
    font-size: 45px }

.tile.tile-305 .tile-inner {
    background: #bed305; 
    font-size: 45px }

.tile.tile-310 .tile-inner {
    background: #bed310; 
    font-size: 45px }

.tile.tile-315 .tile-inner {
    background: #bed315; 
    font-size: 45px }

.tile.tile-320 .tile-inner {
    background: #bed320; 
    font-size: 45px }

.tile.tile-322 .tile-inner {
    background: #f35432; 
    box-shadow: 0 0 30px 10px rgba(131, 54, 32, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 45px }

.tile.tile-325 .tile-inner {
    background: #bed325; 
    font-size: 45px }

.tile.tile-330 .tile-inner {
    background: #bed330; 
    font-size: 45px }

.tile.tile-335 .tile-inner {
    background: #bed335; 
    font-size: 45px }

.tile.tile-340 .tile-inner {
    background: #bed340; 
    font-size: 45px }

.tile.tile-345 .tile-inner {
    background: #fed33f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); 
    font-size: 45px }

.tile.tile-350 .tile-inner {
    background: #bed350; 
    font-size: 45px }

.tile.tile-355 .tile-inner {
    background: #bed355; 
    font-size: 45px }

.tile.tile-360 .tile-inner {
    background: #bed360; 
    font-size: 45px }

.tile.tile-365 .tile-inner {
    background: #bed365; 
    font-size: 45px; }

.tile.tile-368 .tile-inner {
    color: #f9f6f2;
    background: #f87a55; 
    box-shadow: 0 0 30px 10px rgba(136, 90, 55, 0.57143), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px }

.tile.tile-370 .tile-inner {
    background: #bed370; 
    font-size: 45px }

.tile.tile-375 .tile-inner {
    background: #bed375; 
    font-size: 45px }

.tile.tile-380 .tile-inner {
    background: #bed380; 
    font-size: 45px }

.tile.tile-385 .tile-inner {
    background: #bed385; 
    font-size: 45px }

.tile.tile-390 .tile-inner {
    background: #bed390; 
    font-size: 45px }

.tile.tile-391 .tile-inner {
    color: #f9f6f2;
    background: #fff962;
    box-shadow: 0 0 30px 10px rgba(255, 137, 62, 0.615625), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); 
    font-size: 45px }

.tile.tile-395 .tile-inner {
    background: #bed395; 
    font-size: 45px }

.tile.tile-400 .tile-inner {
    background: #bed400; 
    font-size: 45px }

.tile.tile-405 .tile-inner {
    background: #87ff06; 
    font-size: 45px }

.tile.tile-410 .tile-inner {
    background: #524288; 
    font-size: 45px }

.tile.tile-414 .tile-inner {
    color: #f9f6f2;
    background: #a3773a; 
    box-shadow: 0 0 30px 10px rgba(131, 77, 158, 0.66667), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px }

.tile.tile-415 .tile-inner {
    background: #571428; 
    font-size: 45px }

.tile.tile-420 .tile-inner {
    background: #0add9f; 
    font-size: 45px }

.tile.tile-425 .tile-inner {
    background: #3ad6e1; 
    font-size: 45px }

.tile.tile-430 .tile-inner {
    background: #6d6a3e; 
    font-size: 45px }

.tile.tile-435 .tile-inner {
    background: #f7ea3b; 
    font-size: 45px }

.tile.tile-437 .tile-inner {
    background: #0fade0; 
    box-shadow: 0 0 30px 10px rgba(128, 96, 100, 0.6789), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px }

.tile.tile-440 .tile-inner {
    background: #352704; 
    font-size: 45px }

.tile.tile-445 .tile-inner {
    background: #c5a5d5; 
    font-size: 45px }

.tile.tile-450 .tile-inner {
    background: #dde535; 
    font-size: 45px }

.tile.tile-455 .tile-inner {
    background: #f6765f; 
    font-size: 45px }

.tile.tile-460 .tile-inner {
    background: #ff00aa;
    box-shadow: 0 0 30px 10px #ff00aa, inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px }

.tile.tile-512 .tile-inner, .tile.tile-483 .tile-inner, .tile.tile-506 .tile-inner {
    background: #edc850; 
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px }

.tile.tile-529 .tile-inner, .tile.tile-552 .tile-inner, .tile.tile-575 .tile-inner, .tile.tile-598 .tile-inner, .tile.tile-621 .tile-inner, .tile.tile-644 .tile-inner, .tile.tile-667 .tile-inner, .tile.tile-690 .tile-inner, .tile.tile-713 .tile-inner, .tile.tile-736 .tile-inner, .tile.tile-759 .tile-inner, .tile.tile-782 .tile-inner, .tile.tile-805 .tile-inner, .tile.tile-828 .tile-inner, .tile.tile-851 .tile-inner, .tile.tile-874 .tile-inner, .tile.tile-897 .tile-inner, .tile.tile-920 .tile-inner, .tile.tile-943 .tile-inner, .tile.tile-966 .tile-inner, .tile.tile-989 .tile-inner, .tile.tile-1012 .tile-inner .tile-inner {
    background: #edc850; 
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px }

.tile.tile-640 .tile-inner {
    background: #edcccc; 
    box-shadow: 0 0 30px 10px rgba(255, 211, 111, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 45px }

.tile.tile-1024 .tile-inner, .tile.tile-1035 .tile-inner, .tile.tile-1058 .tile-inner, .tile.tile-1081 .tile-inner, .tile.tile-1104, .tile.tile-1127 .tile-inner, .tile.tile-1150 .tile-inner, .tile.tile-1173 .tile-inner, .tile.tile-1196 .tile-inner, .tile.tile-1219 .tile-inner, .tile.tile-1242 .tile-inner, .tile.tile-1265 .tile-inner, .tile.tile-1288 .tile-inner, .tile.tile-1311 .tile-inner, .tile.tile-1334 .tile-inner, .tile.tile-1357 .tile-inner, .tile.tile-1380 .tile-inner, .tile.tile-1403 .tile-inner, .tile.tile-1426 .tile-inner, .tile.tile-1449 .tile-inner, .tile.tile-1472 .tile-inner, .tile.tile-1495 .tile-inner, .tile.tile-1518 .tile-inner, .tile.tile-1541 .tile-inner, .tile.tile-1564 .tile-inner, .tile.tile-1587 .tile-inner, .tile.tile-1610 .tile-inner, .tile.tile-1633 .tile-inner, .tile.tile-1656 .tile-inner, .tile.tile-1679 .tile-inner, .tile.tile-1702 .tile-inner, .tile.tile-1725 .tile-inner, .tile.tile-1748 .tile-inner, .tile.tile-1771 .tile-inner, .tile.tile-1794 .tile-inner, .tile.tile-1817 .tile-inner, .tile.tile-1840 .tile-inner, .tile.tile-1863 .tile-inner, .tile.tile-1886 .tile-inner, .tile.tile-1909 .tile-inner, .tile.tile-1932 .tile-inner, .tile.tile-1955 .tile-inner, .tile.tile-1978 .tile-inner, .tile.tile-2001 .tile-inner, .tile.tile-2024 .tile-inner, .tile.tile-2047 .tile-inner {
    background: #edc53f; 
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px }

.tile.tile-2048 .tile-inner {
    background: #edc22e; 
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }

  .tile.tile-super5 .tile-inner {
    background: #00ff00;
	font-size: 30px;}

	/* special tiles */

  .tile.tile-3 .tile-inner {
    color: #776e65;
    background: #ede0c8; }

  .tile.tile-6 .tile-inner {
    color: #f9f6f2;
    background: #f2b179; }

  .tile.tile-7 .tile-inner {
    color: #f9f6f2;
    background: #f1b985; }

.tile.tile-9 .tile-inner {
    Color: #f9f6f2;
    background: #971b2f; }

  .tile.tile-12 .tile-inner {
    Color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgb(255, 128, 65), inset 0 0 0 10px rgb(0, 0, 0);
    background: #f59563; }

  .tile.tile-14 .tile-inner {
    color: #f9f6f2;
    background: #f2b179; }

  .tile.tile-18 .tile-inner {
    color: #facdeb;
    background: #630909; }

  .tile.tile-21 .tile-inner {
    color: #cccccc;
    background: #333333; }

.tile.tile-24 .tile-inner {
    background: #f67c5f; 
    Color: #f9f6f2;
    font-size: 55px; }

.tile.tile-27 .tile-inner {
    Color: #f9f6f2;
    background: #36595f;  }

.tile.tile-28 .tile-inner {
    Color: #f9f6f2;
    background: #ff0033;  }

.tile.tile-36 .tile-inner {
    color: #ffffff;
    background: #000000; }

.tile.tile-42 .tile-inner {
    color: #f9f6f2;
    background: #eebb66; }

.tile.tile-48 .tile-inner {
    color: #f9f6f2;
    background: #f66d4d; }
.tile.tile-54 .tile-inner {
    background: #ff1672; }

.tile.tile-56 .tile-inner {
    background: #85ad84; }

.tile.tile-63 .tile-inner {
    color: #f9f6f2;
    background: #f65e3b; }

.tile.tile-84 .tile-inner {
    color: #f9f6f2;
    background: #cca391; }

.tile.tile-96 .tile-inner {
    color: #f9f6f2;
    background: #f65e3b; }

.tile.tile-72 .tile-inner {
    color: #f9f6f2;
    background: #3c3a32; }

.tile.tile-81 .tile-inner {
    color: #f9f6f2;
    background: #f5c76f; }

.tile.tile-108 .tile-inner {
    color: #f9f6f2;
    background: #f55322;
    font-size: 45px; }

.tile.tile-112 .tile-inner {
    color: #f9f6f2;
    background: #00acdc;
    Box-Shadow: 0 0 30px 10px rgba(0, 190, 244, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    Font-Size: 45px; }

.tile.tile-126 .tile-inner {
    color: #00f1ff;
    background: #00a1a8;
    Box-Shadow: 0 0 30px 10px rgba(0, 255, 255, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    Font-Size: 45px; }

.tile.tile-144 .tile-inner {
    color: #f9f6f2;
    background: #228ff3; 
    font-size: 45px; }

.tile.tile-162 .tile-inner {
    color: #f9f6f2;
    background: #dda03b;
    Font-size: 45px; }

.tile.tile-168 .tile-inner {
    color: #f9f6f2;
    background: #774561;
    Box-Shadow: 0 0 30px 10px rgba(234, 192, 100, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    Font-Size: 45px; }

.tile.tile-192 .tile-inner {
    color: #f9f6f2;
    background: #edcf72;
    Box-Shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    Font-Size: 45px; }

.tile.tile-216 .tile-inner {
    color: #f9f6f2;
    background: #553663; 
    Font-size: 45px; }

.tile.tile-224 .tile-inner {
    color: #000000;
    background: #aaddee; 
    box-shadow: 0 0 30px 10px rgba(111, 222, 244, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    Font-size: 45px; }

.tile.tile-243 .tile-inner {
    color: #f9f6f2;
    background: #b3e56f; 
    Font-size: 45px; }

.tile.tile-252 .tile-inner {
    color: #f9f2f9;
    background: #ed61ed; 
    box-shadow: 0 0 30px 10px rgba(243, 116, 243, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    Font-size: 45px; }

.tile.tile-288 .tile-inner {
    color: #f9f6f2;
    background: #ff442a; 
    Font-size: 45px; }

.tile.tile-324 .tile-inner {
    color: #f9f6f2;
    background: #9937fe; 
    Font-size: 45px; }

.tile.tile-336 .tile-inner {
    color: #f9f6f2;
    background: #c2ff79; 
    box-shadow: 0 0 30px 10px rgba(120, 255, 0, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    Font-size: 45px; }

.tile.tile-384 .tile-inner {
    color: #f9f6f2;
    background: #edcc61; 
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    Font-size: 45px; }

.tile.tile-432 .tile-inner {
    color: #f9f6f2;
    background: #ad4eee; 
    Font-size: 45px; }

.tile.tile-448 .tile-inner {
    color: #52ff00;
    background: #ff00ff; 
    box-shadow: 0 0 30px 10px rgba(255, 0, 255, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    Font-size: 45px; }

.tile.tile-486 .tile-inner {
    color: #f9f6f2;
    background: #8c0ede; 
    Font-size: 45px; }

.tile.tile-504 .tile-inner {
    color: #d3d3d3;
    background: #656565; 
    box-shadow: 0 0 30px 10px rgba(101, 101, 101, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    Font-size: 45px; }

.tile.tile-576 .tile-inner {
    color: #f9f6f2;
    background: #671084; 
    Font-size: 45px; }

.tile.tile-648 .tile-inner {
    color: #f9f6f2;
    background: #243729; 
    Font-size: 45px; }

.tile.tile-600 .tile-inner {
    color: #000000;
    background: #ff6611; 
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    Font-size: 45px; }

.tile.tile-672 .tile-inner {
    color: #ff9080;
    background: #503245; 
    box-shadow: 0 0 30px 10px rgba(127, 128, 255, 0.39683), inset 0 0 0 1px rgba(0, 0, 0, 0.2381);
    Font-size: 45px; }

.tile.tile-729 .tile-inner {
    color: #f9f6f2;
    background: #27fcde; 
    box-shadow: 0 0 30px 10px rgba(12, 40, 139, 0.2381), inset 0 0 0 1px rgba(0, 0, 0, 0.14286);
    Font-size: 45px; }

.tile.tile-750 .tile-inner {
    color: #f9f6f2;
    background: #a38787; 
    box-shadow: 0 0 30px 10px rgba(255, 200, 200, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    Font-size: 45px; }

.tile.tile-768 .tile-inner {
    color: #f9f6f2;
    background: #edc850; 
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    Font-size: 45px; }

.tile.tile-800 .tile-inner {
    color: #f9f6f2;
    background: #dc1298; 
    box-shadow: 0 0 30px 10px rgba(198, 243, 232, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    Font-size: 45px; }

.tile.tile-864 .tile-inner {
    color: #f9f6f2;
    background: #ff018f; 
    Font-size: 45px; }

.tile.tile-896 .tile-inner {
    color: #c380ff;
    background: #119700; 
    box-shadow: 0 0 30px 10px rgba(44, 188, 44, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    Font-size: 45px; }

.tile.tile-972 .tile-inner {
    color: #f9f6f2;
    background: #faadca; 
    Font-size: 45px; }

.tile.tile-1152 .tile-inner {
    color: #f9f6f2;
    background: #63fade; 
    Font-size: 35px; }

.tile.tile-1200 .tile-inner {
    color: #f9f6f2;
    background: #f3d774; 
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    Font-size: 35px; }

.tile.tile-1296 .tile-inner {
    color: #f9f6f2;
    background: #dacfeb; 
    Font-size: 35px; }

.tile.tile-1458 .tile-inner {
    color: #f9f6f2;
    background: #ddaf06; 
    Font-size: 35px; } 

.tile.tile-1500 .tile-inner {
    color: #090909;
    background: #f60000; 
    box-shadow: 0 0 30px 10px rgba(255, 0, 0, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    Font-size: 35px; }

.tile.tile-1536 .tile-inner {
    color: #f9f6f2;
    background: #edc53f; 
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    Font-size: 35px; }

.tile.tile-1728 .tile-inner {
    color: #f9f6f2;
    background: #ff00dc; 
    Font-size: 35px; }

.tile.tile-1944 .tile-inner {
    color: #f9f6f2;
    background: #f1944f; 
    Font-size: 35px; }

.tile.tile-2187 .tile-inner {
    color: #f9f6f2;
    background: #16ccde; 
    box-shadow: 0 0 30px 10px rgba(12, 40, 139, 0.31746), inset 0 0 0 1px rgba(0, 0, 0, 0.19048);
    Font-size: 35px; }

.tile.tile-2304 .tile-inner {
    color: #f9f6f2;
    background: #dacdac; 
    Font-size: 35px; }

.tile.tile-2592 .tile-inner {
    color: #f9f6f2;
    background: #BAC; 
    Font-size: 35px; }

.tile.tile-2916 .tile-inner {
    color: #f9f6f2;
    background: #dacedc; 
    Font-size: 35px; }

.tile.tile-3000 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); 
    Font-size: 35px; }

.tile.tile-3072 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); 
    Font-size: 35px; }

.tile.tile-5184 .tile-inner {
    color: #f9f6f2;
    background: #c0ff00;
    box-shadow: 0 0 30px 10px rgba(192, 255, 0, 0.62019), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); 
    Font-size: 35px; }

.tile.tile-6561 .tile-inner {
    color: #f9f6f2;
    background: #de4691; 
    box-shadow: 0 0 30px 10px rgba(65, 7, 199, 0.31746), inset 0 0 0 1px rgba(0, 0, 0, 0.19048);
    Font-size: 35px; }

.tile.tile-10368 .tile-inner {
    color: #776e65;
    background: #ffff00;
    box-shadow: 0 0 30px 10px rgba(255, 255, 0, 0.70536), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); 
    Font-size: 35px; }

.tile.tile-19683 .tile-inner {
    color: #f9f6f2;
    background: #34ff56; 
    box-shadow: 0 0 30px 10px rgba(98, 134, 43, 0.39683), inset 0 0 0 1px rgba(0, 0, 0, 0.2381);
    Font-size: 30px; }

.tile.tile-59049 .tile-inner {
    color: #f9f6f2;
    background: #420967; 
    box-shadow: 0 0 30px 10px rgba(45, 209, 12, 0.47619), inset 0 0 0 1px rgba(0, 0, 0, 0.28571);
    Font-size: 30px; }

.tile.tile-177147 .tile-inner {
    color: #f9f6f2;
    background: #f37718; 
    box-shadow: 0 0 30px 10px rgba(209, 111, 119, 0.55556), inset 0 0 0 1px rgba(0, 0, 0, 0.33333);
    Font-size: 30px; }

  .tile .tile-inner {
    border-radius: 3px;
    background: #696969;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 48px; }
	
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.game-intro {
  margin-bottom: 0; }

.game-explanation {
  margin-top: 50px; }
  
@media screen and (max-width: 520px) {
  html, body {
    font-size: 15px; }

  body {
    margin: 20px 0;
    padding: 0 20px; }

  h1.title {
    font-size: 27px;
    margin-top: 15px; }

  .container {
    width: 347.5px;
    margin: 0 auto; }

  .score-container, .best-container {
    margin-top: 0;
    padding: 15px 10px;
    min-width: 40px; }

  .heading {
    margin-bottom: 10px; }

  .game-container {
    margin-top: 40px;
    position: relative;
    padding: 10px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    background: #bbada0;
    border-radius: 6px;
    width: 347.5px;
    height: 347.5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(238, 228, 218, 0.5);
      z-index: 100;
      text-align: center;
      -webkit-animation: fade-in 800ms ease 1200ms;
      -moz-animation: fade-in 800ms ease 1200ms;
      animation: fade-in 800ms ease 1200ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
      .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px; }
      .game-container .game-message .lower {
        display: block;
        margin-top: 59px; }
      .game-container .game-message a {
        display: inline-block;
        background: #8f7a66;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        color: #f9f6f2;
        height: 40px;
        line-height: 42px;
        margin-left: 9px; }
        .game-container .game-message a.keep-playing-button {
          display: none; }
      .game-container .game-message.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2; }
        .game-container .game-message.game-won a.keep-playing-button {
          display: inline-block; }
      .game-container .game-message.game-won, .game-container .game-message.game-over {
        display: block; }

  .grid-container {
    position: absolute;
    z-index: 1; }

  .grid-row {
    margin-bottom: 10px; }
    .grid-row:last-child {
      margin-bottom: 0; }
    .grid-row:after {
      content: "";
      display: block;
      clear: both; }

  .grid-cell {
    width: 57.5px;
    height: 57.5px;
    margin-right: 10px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35); }
    .grid-cell:last-child {
      margin-right: 0; }

  .tile-container {
    position: absolute;
    z-index: 2; }

  .tile, .tile .tile-inner {
    width: 58px;
    height: 58px;
    line-height: 67.5px; }
  .tile.tile-position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  .tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 67px);
    -moz-transform: translate(0px, 67px);
    transform: translate(0px, 67px); }
  .tile.tile-position-1-3 {
    -webkit-transform: translate(0px, 135px);
    -moz-transform: translate(0px, 135px);
    transform: translate(0px, 135px); }
  .tile.tile-position-1-4 {
    -webkit-transform: translate(0px, 202px);
    -moz-transform: translate(0px, 202px);
    transform: translate(0px, 202px); }
  .tile.tile-position-1-5 {
    -webkit-transform: translate(0px, 269px);
    -moz-transform: translate(0px, 269px);
    transform: translate(0px, 269px); }
  .tile.tile-position-2-1 {
    -webkit-transform: translate(67px, 0px);
    -moz-transform: translate(67px, 0px);
    transform: translate(67px, 0px); }
  .tile.tile-position-2-2 {
    -webkit-transform: translate(67px, 67px);
    -moz-transform: translate(67px, 67px);
    transform: translate(67px, 67px); }
  .tile.tile-position-2-3 {
    -webkit-transform: translate(67px, 135px);
    -moz-transform: translate(67px, 135px);
    transform: translate(67px, 135px); }
  .tile.tile-position-2-4 {
    -webkit-transform: translate(67px, 202px);
    -moz-transform: translate(67px, 202px);
    transform: translate(67px, 202px); }
  .tile.tile-position-2-5 {
    -webkit-transform: translate(67px, 269px);
    -moz-transform: translate(67px, 269px);
    transform: translate(67px, 269px); }
  .tile.tile-position-3-1 {
    -webkit-transform: translate(135px, 0px);
    -moz-transform: translate(135px, 0px);
    transform: translate(135px, 0px); }
  .tile.tile-position-3-2 {
    -webkit-transform: translate(135px, 67px);
    -moz-transform: translate(135px, 67px);
    transform: translate(135px, 67px); }
  .tile.tile-position-3-3 {
    -webkit-transform: translate(135px, 135px);
    -moz-transform: translate(135px, 135px);
    transform: translate(135px, 135px); }
  .tile.tile-position-3-4 {
    -webkit-transform: translate(135px, 202px);
    -moz-transform: translate(135px, 202px);
    transform: translate(135px, 202px); }
  .tile.tile-position-3-5 {
    -webkit-transform: translate(135px, 269px);
    -moz-transform: translate(135px, 269px);
    transform: translate(135px, 269px); }
  .tile.tile-position-4-1 {
    -webkit-transform: translate(202px, 0px);
    -moz-transform: translate(202px, 0px);
    transform: translate(202px, 0px); }
  .tile.tile-position-4-2 {
    -webkit-transform: translate(202px, 67px);
    -moz-transform: translate(202px, 67px);
    transform: translate(202px, 67px); }
  .tile.tile-position-4-3 {
    -webkit-transform: translate(202px, 135px);
    -moz-transform: translate(202px, 135px);
    transform: translate(202px, 135px); }
  .tile.tile-position-4-4 {
    -webkit-transform: translate(202px, 202px);
    -moz-transform: translate(202px, 202px);
    transform: translate(202px, 202px); }
  .tile.tile-position-4-5 {
    -webkit-transform: translate(202px, 269px);
    -moz-transform: translate(202px, 269px);
    transform: translate(202px, 269px); }
  .tile.tile-position-5-1 {
    -webkit-transform: translate(269px, 0px);
    -moz-transform: translate(269px, 0px);
    transform: translate(269px, 0px); }
  .tile.tile-position-5-2 {
    -webkit-transform: translate(269px, 67px);
    -moz-transform: translate(269px, 67px);
    transform: translate(269px, 67px); }
  .tile.tile-position-5-3 {
    -webkit-transform: translate(269px, 135px);
    -moz-transform: translate(269px, 135px);
    transform: translate(269px, 135px); }
  .tile.tile-position-5-4 {
    -webkit-transform: translate(269px, 202px);
    -moz-transform: translate(269px, 202px);
    transform: translate(269px, 202px); }
  .tile.tile-position-5-5 {
    -webkit-transform: translate(269px, 269px);
    -moz-transform: translate(269px, 269px);
    transform: translate(269px, 269px); }

  .game-container {
    margin-top: 20px; }

  .tile .tile-inner {
    font-size: 35px; }

  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important; }
  .game-message .lower {
    margin-top: 30px !important; } }
